<!DOCTYPE html>
<html>
<head>
  <title>BlissAttachments</title>
  <%= stylesheet_link_tag    "bliss_attachments/application", :media => "all" %>
  <%= javascript_include_tag "bliss_attachments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
